*{
    margin: 0;
    padding: 0;
    box-sizing: boder-box;
}
body{
    height: 100vh;
    background: linear-gradient(45deg, #bc53db, #922c56e8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.icon-social{
    margin: 20px;
}
.icon-link{
    color: white;
    margin: 20px 20px;
    text-decoration: none;
}
.icon-link:hover{
    color: #53e012;
    font-size: 20px;
}
.container{
    background: #652b33e8;
    height: 400px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    display: block;
}
h2{
    margin-top: 36px;
}
img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: center;
}
.container__img{
    height: 120px;
    width: 120px;
    border: 2px solid #8569db;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    transform: translateY(25px);
}

.container__img:hover{
    height: 100%;
    width: 100%;
    border-radius: unset;
    transform: unset;
    border: none;
    transition: 0.3s;
    cursor: pointer;
 } 

.container button{
    height: 40px;
    width: 150px;
    margin-top: 50px;
    border: 1px solid #8569db;
    background: transparent;
    border-radius: 10px;
    color: white;
    font-size: 13px;
 }

.container button:hover{
    background: #8569db;
    cursor: pointer;
}

#contact{
    position: fixed;
    background:#461e02;
    height: 400px;
    width: 300px;
    border-radius: 10px;
    display: none;
 }
 .back{
    color: white;
    display: flex;
    margin: 16px 12px;
    text-decoration: none;
 }
.contact-phone{
    display: flex;
    justify-content: center;
    margin-top: 140px;
 }
.contact-mail{
    display: flex;
    justify-content: center;
    margin-top: 30px;
 }
 